body {
    font-family: Arial, sans-serif;
    
  }
  .About{
    padding: 30px 100px;
    text-align:justify;
  }
  header {
    text-align: center;
    margin-bottom: 40px;
    
  }
  .About img{
    width:100%;
    cursor: pointer;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 36px;
    color: #333;
   
  }
  
  section {
    margin-bottom: 40px;
    
  }
  
  h3 {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
   
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #999;
    
  }
  