.header{
    height:80px;
}

.cart_symbol svg{
    width:50px !important;
}

.navbar-nav a svg{
    width:25px !important; 
    
}

.navbar-nav a .badge {
    position: absolute;
    right: -8px;
    font-size: 10px;
    top: -1px;
}
.navbar-nav a {
    position: relative;
}