@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=M+PLUS+1&family=Noto+Sans&family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
  
}

code {
  font-family: 'Hind', sans-serif;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
Link{
text-decoration: none;
color:grey;
}
:root {
  --color-primary: #CB1C8D;
  --color-secondary: #fff;
  --color-tertiary: #fff;
}